body{
    margin: 0;
}

h3{
    font-size: 45px;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}

/*section navigation*/

.navigation{
    background-color: #6db7d4;
    margin: 0;
    width: 100%;
    top: 0;
    position: fixed;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
}

.navigation .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .nav .navigation-logo .nav-logo{
    padding-top: 5px;
    width: 30%;
    height: auto;
}

.navigation .nav .navigation-text ul li{
    display: inline;
    padding: 23px;
}

.navigation .nav .navigation-text ul li a{
    text-decoration: none;
    color: black;
}

.navigation .nav .navigation-text ul li a:hover{
    text-decoration: underline;
    color: palevioletred;
}

/*section iste*/

#iste{
    width: 100%;
    border-bottom: 1px solid black;
}

.iste-wrapper{
    padding-top: 250px;
    padding-bottom: 170px;
}

.iste-wrapper .iste-wrapper-1 .iste-sal{
    text-align: center;
    border-bottom: 1px solid black;
}

.iste-wrapper .iste-wrapper-1 .iste-sal .iste-sal-wrapper{
    font-size: 60px;
}

.iste-wrapper .iste-wrapper-1 .iste-line{
    text-align: center;
}

.iste-wrapper .iste-wrapper-1 .iste-line .iste-line-wrapper{
    font-size: 40px;
}


/*section about*/

#about{
    width: 100%;
    border-bottom: 1px solid black;
}

.about-wrapper .about-wrapper-2{
    padding: 70px 0;
}

.about-wrapper .about-wrapper-2 .about-main-text{
    padding-bottom: 40px;
}

.about-wrapper .about-wrapper-2 .about-wrapper-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-wrapper .about-wrapper-2 .about-wrapper-1 .about-logo{
    width: 30%;
}

.about-wrapper .about-wrapper-2 .about-wrapper-1 .about-logo .about-logo-wrapper.about-logo-wrapper-1{
    width: 100%;
}

.about-wrapper .about-wrapper-2 .about-wrapper-1 .about-intro{
    width: 70%;
    padding-left: 50px;
}

.about-wrapper .about-wrapper-2 .about-wrapper-1 .about-intro .about-text{
    display: inline-block;
    text-align: justify;
    font-size: 30px;
}

/*section intro*/

#intro{
    width: 100%;
    border-bottom: 1px solid black;
}

.intro-wrapper-2{
    padding: 70px 0;
}

.intro-wrapper .intro-wrapper-2 .intro-main {
    padding-bottom: 40px;
}

.intro-wrapper .intro-wrapper-2 .intro-wrapper-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-wrapper .intro-wrapper-2 .intro-wrapper-1 .intro-text{
    width: 58%;
    padding-right: 60px;
}

.intro-wrapper .intro-wrapper-2 .intro-wrapper-1 .intro-text .intro-text-wrapper{
    display: inline-block;
    text-align: justify;
    font-size: 25px;
}

.intro-wrapper .intro-wrapper-2 .intro-wrapper-1 .intro-image{
    width: 42%;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}

.intro-wrapper .intro-wrapper-2 .intro-wrapper-1 .intro-image .intro-image-wrapper{
    width: 500px;
    border-radius: 50%;
    height: 500px;
    object-fit: fill;
}


/*section event*/

#event{
    width: 100%;
    border-bottom: 1px solid black;
}

.event-wrapper-1{
    padding: 70px 0 90px 0;
}

.event-main-text{
    text-align: center;
    padding-bottom: 60px;
}

/*div quizo-code*/

.quizo-code{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

/*div quizo*/

.quizo{
    border: groove;
    width: 45%;
}

.quizo-img-wrapper{
    width: 540px;
    height: 700px;
}

.Quiz-O-Fun{
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
}

.quizo-intro{
    font-size: 18px;
    text-align: justify;
    padding: 10px;
    border-bottom: 1px groove;
}

.quizo-calendar{
    text-align: center;
    padding: 7px;
}

/*div code*/

.code{
    border: groove;
    width: 45%;
}

.code-img-wrapper{
    width: 540px;
    height: 700px;
}

.code-hunt{
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
}

.code-intro{
    font-size: 18px;
    text-align: justify;
    padding: 10px;
    border-bottom: 1px groove;
}

.code-calendar{
    text-align: center;
    padding: 7px;
}


/*div poster-work*/

.poster-work{
    display: flex;
    justify-content: space-between;
}

/*div poster*/

.poster{
    border: groove;
    max-width: 45%;
}

.poster-img-wrapper{
    width: 540px;
    height: 700px;
}

.poster-making{
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
}

.poster-intro{
    font-size: 18px;
    text-align: justify;
    padding: 10px;
    border-bottom: 1px groove;
}

.poster-calendar{
    text-align: center;
    padding: 7px;
}

/*div work*/

.work{
    border: groove;
    max-width: 45%;
}

.work-img-wrapper{
    width: 540px;
    height: 700px;
}

.workshops{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px groove;
    padding: 5px 0;
}

.work-footer ul li{
    font-size: 18px;
}


/*section team*/

#team{
    width: 100%;
}

.team-wrapper-1{
    padding: 70px 0;
}

.team-text{
    text-align: center;
    padding-bottom: 70px;
}

/*sunny-modi*/

.sunny-modi{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.sunny{
    text-align: center;
    width: 50%;
}

.sunny-img-1{
    width: 75%;
}

.modi{
    text-align: center;
    width: 50%;
}

.modi-img-1{
    width: 75%;
}

/*parshwa*/

.parshwa{
    text-align: center;
    width: 100%;
}

.parshwa-img-1{
    width: 37.5%;
}


/*section-contact*/

#contact{
    background-color: #6db7d4;
    bottom: 0;
    text-align: center;
}

.contact-wrapper{
    display: flex;
    justify-content: space-between;
}

.contact-address{
    width: 100%;
    display: flex;
}

.contact-logo{
    padding-top: 3px;
}

.contact-logo-wrapper-1{
    width: 30%;
}

.address{
    text-align: center;
}

.sal-address{
    font-size: 15px;
    padding-top: 30px;
}

.sal-address a{
    text-decoration: none;
    color: black;
}

.sal-address a:hover{
    text-decoration: underline;
    color: palevioletred;
}

.insta-email{
    width: 200px;
    display: flex;
}

.insta{
    text-align: center;
}

.insta-logo{
    width: 100%;
    padding-top: 17px;
}

.email{
    text-align: center;
}

.email-logo{
    width: 30%;
    padding-top: 14px;
}


@media (max-width:767px) {

    h3{
        font-size: 35px;
    }

    .navigation{
        background-color: #6db7d4;
        margin: 0;
        width: 100%;
        top: 0;
        position: fixed;
    }

    .navigation-logo{
        width: 20%;
    }
    
    .navigation .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navigation-text{
        width: 65%;
    }
    .navigation .nav .navigation-logo .nav-logo{
        padding-top: 5px;
        width: 30%;
        height: auto;
    }
    
    .navigation .nav .navigation-text ul{
        padding: 2px;
        display: flex;
        list-style: none;
    }
    .navigation .nav .navigation-text ul li{
        display: inline;
        padding: 0 10px 0 0;
        font-size: 14px;
    }
    
    .navigation .nav .navigation-text ul li a{
        text-decoration: none;
        color: black;
    }
    
    .navigation .nav .navigation-text ul li a:hover{
        text-decoration: underline;
        color: palevioletred;
    }
    
    .iste-wrapper {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    
    .iste-wrapper .iste-wrapper-1 .iste-sal .iste-sal-wrapper{
        font-size: 40px;
    }

    .iste-wrapper .iste-wrapper-1 .iste-line .iste-line-wrapper{
        font-size: 18px;
    }

    .about-wrapper .about-wrapper-2{
        padding-bottom: 50px;
        padding-top: 30px;
    }
    
    .about-wrapper .about-wrapper-2 .about-main-text{
        padding-bottom: 20px;
    }
    
    .about-wrapper .about-wrapper-2 .about-wrapper-1{
        display: block;
        align-items: center;
    }
    
    .about-wrapper .about-wrapper-2 .about-wrapper-1 .about-logo{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .about-wrapper .about-wrapper-2 .about-wrapper-1 .about-logo .about-logo-wrapper.about-logo-wrapper-1{
        width: 100%;
    }
    
    .about-wrapper .about-wrapper-2 .about-wrapper-1 .about-intro{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    #about .about-wrapper .about-wrapper-2 .about-wrapper-1 .about-intro .about-text{
        display: inline-block;
        text-align: justify;
        font-size: 18px;
    }
    
    .intro-wrapper-2{
        padding: 50px 0;
    }
    
    .intro-wrapper .intro-wrapper-2 .intro-main {
        padding-bottom: 40px;
    }
    
    .intro-wrapper .intro-wrapper-2 .intro-wrapper-1{
        display: flex;
        flex-direction: column-reverse;     
    }
    
    .intro-wrapper .intro-wrapper-2 .intro-wrapper-1 .intro-text{
        width: 100%;
        padding: 0;
    }
    
    .intro-wrapper .intro-wrapper-2 .intro-wrapper-1 .intro-text .intro-text-wrapper{
        font-size: 18px;
    }
    
    .intro-wrapper .intro-wrapper-2 .intro-wrapper-1 .intro-image{
        width: 100%;
        padding-bottom: 30px;
    }
    
    .intro-wrapper .intro-wrapper-2 .intro-wrapper-1 .intro-image .intro-image-wrapper{
        width: 90%;
        border-radius: 0;
        height: auto;
        object-fit: contain;
    }

    .event-wrapper{
        width: 100%;
    }
    
    .event-wrapper-1{
        width: 100%;
        padding: 50px 0 90px 0;
    }
    
    .event-main-text{
        text-align: center;
        padding-bottom: 50px;
    }
    
    /*div quizo-code*/
    
    .quizo-code{
        width: 100%;
        display: block;
        padding-bottom: 0;
    }
    
    /*div quizo*/
    
    .quizo{
        width: 99%;
        margin-bottom: 70px;
    }

    .quizo-img{
        width: 100%;
    }
    
    .quizo-img-wrapper{
        width: 100%;
        height: 300px;
    }
    
    .quizo-intro{
        font-size: 15px;
    }
    
    /*div code*/
    
    .code{
        width: 99%;
        margin-bottom: 70px;
    }

    .code-img{
        width: 100%;
    }
    
    .code-img-wrapper{
        width: 100%;
        height: 300px;
    }
    
    .code-intro{
        font-size: 15px;
    }
    
    
    /*div poster-work*/
    
    .poster-work{
        width: 100%;
        display: block;
    }
    
    /*div poster*/
    
    .poster{
        max-width: 100%;
        margin-bottom: 70px;
    }
    
    .poster-img-wrapper{
        width: 100%;
        height: 300px;
    }
    
    .poster-intro{
        font-size: 15px;
        padding: 10px;
    }
    
    /*div work*/
    
    .work{
        max-width: 100%;
    }
    
    .work-img-wrapper{
        width: 100%;
        height: auto;
    }
    
    .workshops{
        font-size: 30px;
        padding: 5px 0;
    }
    
    .work-footer ul li{
        font-size: 15px;
    }
    
    /*section team*/

.team-wrapper-1{
    padding: 50px 0;
}

.team-text{
    padding-bottom: 50px;
}

/*sunny-modi*/

.sunny-modi{
    display: block;
    padding-bottom: 0;
}

.sunny{
    width: 100%;
    padding-bottom: 60px;
}

.sunny-img-1{
    width: 100%;
}

.modi{
    width: 100%;
    padding-bottom: 60px;
}

.modi-img-1{
    width: 100%;
}

/*parshwa*/

.parshwa-img-1{
    width: 100%;
}

/*section-contact*/

.contact-wrapper{
    display: block;
}

.contact-logo{
    display: none;
    width: 0;
    padding-top: 0;
}

.contact-logo-wrapper-1{
    width: 0;
}

.address{
    width: 100%;
}

.sal-address{
    font-size: 15px;
    padding-top: 10px;
}

.sal-address a{
    text-decoration: none;
    color: black;
}

.sal-address a:hover{
    text-decoration: underline;
    color: palevioletred;
}

.insta-email{
    width:100% ;
    display: flex;
    text-align: center;
}

.insta{
    text-align: none;
    padding-left: 0;
}

.insta-logo{
    width: 20%;
    padding-top: 17px;
    padding-left: 120px;
}

.email{
    text-align: none;
}

.email-logo{
    width: 12%;
    padding-top: 15px;
    padding-right: 45px;
}




@media (min-width:768px) and (max-width:1024px) {

}
@media (min-width:1025px) {
}